<!DOCTYPE html>
<head><h1>Hello and welcome to Anna's Pizza Shack!!!!</h1></br></head>
<h2>please enter your name</h2>
<form method="post" action="get_first_name" class="center">
<input type = "text" name = "first_name">
<input type="submit" value="enter">
</form>
