<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href = "css/style.css">
    <meta charset="utf-8">
    <style>


    body {
    background-image: url("img/pizzaplace.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
</style>
    <title></title>
  </head>
  <body>


    <ul>
      <li><a href="http://google.com/"target = "_blank">google</a><img src="pearicon.png" alt="pear icon" width="20" height="21"></li>
      <li><a href="/menu">About</a><img src="pearicon.png" alt="pear icon" width="20" height="21"></li>
      <li><a href="/contactme">contact me!</a><img src="pearicon.png" alt="pear icon" width="20" height="21"></li>
      <li><a href="/">GO HOME!!!!!</a></li>
    </ul>

  <%=yield%>

  </body>
</html>
