<form method= "post" action ="drinkanddesserts" id="drinkanddeserts">
  <h1>would you like to add a drink to your order?</h1>
  <input type="radio" name="yesnodrinks" value="Yes">Yes<br>
   <input type="radio" name="yesnodrinks" value="No"> No<br>

  <h1>What kind of drinks would you like?</h1>
    <%drinks.each do |drinks|%>
    <input type = "checkbox" name = "selectdrinks[]" value ='<%=drinks%>'>
    <%=drinks%>
    <%end%>

    <h1>Would you like to add some futurama icecream to your order?</h1>
        <input type="radio" name="yesnoicecream" value="Yes">Yes<br>
         <input type="radio" name="yesnoicecream" value="No"> No<br>




<p><input type="submit" value="next"></form></center></p>






<!-- <h1><%=session[:first_name]%>, you ordered:<%=session[:pizza_number]%></h1> -->
