<form method= "post" action ="deliveryform" id="deliveryform">
  <h1>would you like to have your order delivered?</h1>
  <input type="radio" name="yesnodelivery" value="Yes">Yes<br>
   <input type="radio" name="yesnodelivery" value="No"> No<br>

   <h1>If so what is your adress?</h1>
   <input type = "text" name = "address">

  <h1>Would you like to go ahead and tip your driver?</h1>
  <input type="radio" name="yesnotip" value="Yes">Yes<br>
   <input type="radio" name="yesnotip" value="No"> No<br>
<h1>what percentage would you like to tip?
   <input type="number" name="tipamount">
<h1>Please hit 'next' to review your order</h1>



<p><input type="submit" value="next"></form></center></p>






<!-- <h1><%=session[:first_name]%>, you ordered:<%=session[:pizza_number]%></h1> -->
