<h1>Your order is...</h1>

  <%order_hash.each do |key,value| %>
  <%if value.class != NilClass%><br>
<%=key%>:
    <%=value%>
    <%end%>
  <%end%>

</br>
<form method="post" action="confirmfinalorder" id="confirmfinalorder">
<input type="radio" name="yesnoconfirmorder" value="Yes">Yes<br>
 <input type="radio" name="yesnoconfirmorder" value="No"> No<br>
  <input type="submit" value="next">
</form>
