
@font-face {
   font-family: 'futuramafont';
   src: url('/assets/fonts/fr-bold-webfont-webfont.woff') format('woff'), url('/assets/fonts/fr-bold-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body{
    text-shadow: 2px 2px 5px white;
    font-family: 'futuramafont';
    text-align: center;
    margin-top: 2em;
    }

    /* background-image: url("img/pizzaplace.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
      }

h1 {
    text-shadow: 2px 2px 5px white;
    font-family: 'futuramafont';
    src: url('assets/fonts/the-font.ttf');
    font-size: 30PX;
    color: black;
    text-align: center;

}
ul{
    display: inline;
    text-align: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 15px;
    overflow: hidden;
    background-color: #006600;


}
li {
  float: left;
  display: block;
  color: #006600;
  font-family:futuramafont;
   margin-top: 18em;
  font-size: 15px;
  background-color: black
}

li a:hover {
    color: white;

}
